/* Basic Resets */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
}
.hidden{
    display: none;
}
/* Header */
header {
    display: grid;
    padding: 20px;
    background-color: #ffffff;
}



nav li {
    display: inline-block; 
    margin-right: 20px;   
}

nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: #ff0000;
    transform: scale(1.5);
}
.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    margin-top: 10px;
    background-color: #ff0000;
}
.secondary-header li {
    display: inline-block;
    margin-right: 20px;  
}

.secondary-header li a{
    text-decoration: none;
    color: #fff;
}
.secondary-header li a:hover {
    color: #f5bebe;
    
}
.search-bar input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.secondary {
    background-color: #ff0000;
}
/* Main Content */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.main-h1{
    padding-bottom: 6px;
    margin-bottom: 10px;
    /* text-decoration: underline; */
    border-bottom: 5px solid red;
}

h1 {
    /* text-align: center; */
    margin-bottom: 40px;
}

.promo-video video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.brief-info, .about-program, .student-portfolio, .specific-student-work {
    margin-bottom: 40px;
}

/* .large-box {
    grid-row: span 4;
} */
.brief-info h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.about-program-h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.student-portfolio h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.program-info p{
margin-bottom: 20px;
}
.program-info p:first-child{
    margin-top: 40px;
}

.about-program p{
    padding-bottom: 30px;
}

.student-work{
    margin: 0 auto;
    padding-top: 20px;
}
.student-work-h2{
    padding-bottom: 6px;
    border-bottom: 5px solid red;
}
.work-experience h3{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
/* Footer */
footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    text-align: center;
    margin-bottom: 20px;
}

.secondary-footer {
    background-color: #ff0000;
 padding: 20px 0;
}


.media img { 
    height: 50px;
    width: 50px;
}













#main-nav button {
    width:20px;
    height:20px;
    background: url(../image/burger.svg) no-repeat center;
    margin-top:15px;
    margin-bottom:20px;
    transition:all .5s ease;
    border:0;
    margin-left: 275px;
}

#main-nav button.expanded {
    transform:rotate(90deg);
}

#burger-con {
    margin-top:20px;
    margin-bottom: 20px;
    display:none;
}

#burger-con.slide-toggle {
    display:block;
}

#main-nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

#main-nav ul li a {
    display:block;
    padding:10px 0 10px 0;
    text-align:center;
    
}

#main-nav ul li a:hover {
    color:#9a2018;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top:1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom:10px;
}
@media screen and (min-width: 768px) {


    #logo {
        margin-top:32px;
        order:-1;
    }

    #button {
        display:none;
    }

    #burger-con {
        display:block;
        font-size:12px;
    }

    #burger-con ul li, #burger-con ul li:first-child {
        border: none;
        display:inline;
    }

    #main-nav ul li a {
        display:inline;
    }

    #main-nav ul li {
        margin-right:10px;
    }

    #main-nav ul li:last-child {
        margin-right: 0px;
    }

    #main-nav {
        padding-left:30px;
        margin-top:4%;
        margin-bottom:4%;
    }

 



}

/* 11. ---Desktop Sized Screens--- */
@media screen and (min-width: 1200px) {
    #main-header {
        height:110px;
    }

    #main-nav {
        margin-top:2%;
        margin-bottom:2%;
        margin-left:25px;
    }

    #burger-con ul li {
        margin-right:25px;
    }

    #burger-con {
        font-size:16px;
        margin-top:28px;
    }


}