/* Basic Resets */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
}
.hidden{
    display: none;
}
/* Header */
header {
    display: grid;
    padding: 20px;
    background-color: #ffffff;
}



nav li {
    display: inline-block; 
    margin-right: 20px;   
}

nav ul li a{
    text-decoration: none;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    margin-top: 10px;
    background-color: #ff0000;
}
.secondary-header li {
    display: inline-block;
    margin-right: 20px;  
}

.secondary-header li a{
    text-decoration: none;
}
.search-bar input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.secondary {
    background-color: #ff0000;
}
/* Main Content */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.main-h1{
    padding-bottom: 6px;
    margin-bottom: 10px;
    /* text-decoration: underline; */
    border-bottom: 5px solid red;
}

h1 {
    /* text-align: center; */
    margin-bottom: 40px;
}

.promo-video video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.brief-info, .about-program, .student-portfolio, .specific-student-work {
    margin-bottom: 40px;
}

/* .large-box {
    grid-row: span 4;
} */
.brief-info h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.about-program-h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.student-portfolio h2{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
.program-info p{
margin-bottom: 20px;
}
.program-info p:first-child{
    margin-top: 40px;
}

.about-program p{
    padding-bottom: 30px;
}

.student-work{
    margin: 0 auto;
    padding-top: 20px;
}
.student-work-h2{
    padding-bottom: 6px;
    border-bottom: 5px solid red;
}
.work-experience h3{
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 5px solid red;
}
/* Footer */
footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    text-align: center;
    margin-bottom: 20px;
}

.secondary-footer {
    background-color: #ff0000;
 padding: 20px 0;
}


.media img { 
    height: 50px;
    width: 50px;
}